
POST http://localhost:8080/clients HTTP/1.1
Content-Type: application/json

{
    "name": "John Doe",
    "email": "john@j.com"
}

###

POST http://localhost:8080/accounts HTTP/1.1
Content-Type: application/json

{
    "client_id": "28b00925-bf97-48f8-bb3b-9675c4cbd348"
}

###

POST http://localhost:8080/transactions HTTP/1.1
Content-Type: application/json

{
    "account_id_from": "48de7e6a-bb5f-46e3-89cc-b3e683a259bd",
    "account_id_to": "c40b9197-62d9-4fd3-bee4-b39d2d79eb3e",
    "amount": 1
}